{
  "$schema": "http://json.schemastore.org/swcrc",
  "jsc": {
    "externalHelpers": true,
    "parser": {
      "decorators": false,
      "dynamicImport": false,
      "syntax": "typescript",
      "tsx": true
    },
    "baseUrl": "./src",
    "paths": {
      "~spreedly/*": ["spreedly/*"],
      "~types/*": ["types/*"]
    }
  },
  "module": {
    "type": "commonjs"
  },
  "exclude": [".*.test.tsx?$"]
}
